// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$gold: #ECAC07;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;



/* Color palette */

$yellow: #ECDFBF;
$frst_green_std: #97BC8C;
$scnd_green_std: #71897B;
$brown_std: #665D69;
$brown_std_difused: #B9B9B9;
$frst_orange_std: #DE9C87;
$scnd_orange_std: #F5CDB7;

